@import '../imports.scss';

body {
  font-family: $font-family;
  font-weight: 300;
}

h1 {
  font-family: $font-family-bold;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: $dark;
  font-weight: normal;
}

a {
  transition: all 0.2s ease;
  color: $alert;
  text-decoration: none;
  &:hover {
    cursor: pointer;
    color: $warning;
    text-decoration: underline;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

div, button {
  @include no-user-select();
  &:focus {
    outline: 0;
  }
}

.button-group {
    clear: both;
    float: left;
    width: 100%;
    margin: 40px 0;
  }
  button {
    transition: all 0.25s;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
    &.inline {
      font-weight: normal;
      display: inline-block;
      margin: 0 10px;
      padding: 2px 10px;
      border-radius: 5px;
    }
  }
  .success {
    width: 100%;
    background: white;
    border: 2px solid $success;
    color: $success;
    &:hover {
      background: $success;
      color: white;
    }
    &.inline {
      border: 1px solid $success;
      width: auto;
    }
  }
  .warning {
    width: 100%;
    background: white;
    border: 2px solid $warning;
    color: $warning;
    &:hover {
      background: $warning;
      color: white;
    }
  }
  .alert {
    width: 100%;
    background: white;
    border: 2px solid $alert;
    color: $alert;
    &:hover {
      background: $alert;
      color: white;
    }
  }