@import '../imports.scss';

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

h1 {
  font-family: HelveticaNeue-CondensedBold, 'Helvetica Neue', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 18px;
  color: $dark;
  font-weight: normal;
}

a {
  transition: all 0.2s;
  color: $alert;
  text-decoration: none;
  &:hover {
    color: $warning;
    text-decoration: underline;
  }
}

.button-group {
    clear: both;
    float: left;
    width: 100%;
    margin: 40px 0;
  }
  button {
    transition: all 0.25s;
    margin: 20px 0;
    border-radius: 10px;
    padding: 10px 15px;
    font-weight: bold;
  }
  .success {
    width: 100%;
    background: white;
    border: 2px solid $success;
    color: $success;
    &:hover {
      background: $success;
      color: white;
    }
  }
  .alert {
    width: 100%;
    background: white;
    border: 2px solid $alert;
    color: $alert;
    &:hover {
      background: $alert;
      color: white;
    }
  }