@import '../imports.scss';

.history-list-component {
  ul {
    list-style: none;
    padding: 0;
  }
  .history-list-title {
    height: 51px;
    font-family: $font-family-bold;
    text-align: center;
    font-size: 22px;
    padding: 10px 0;
    margin: 20px 0;
    margin-top: 0;
    @include breakpoint(md-and-up) {
      text-align: left;
    }
  }
  .month-title {
    padding: 5px 10px;
    margin-bottom: 20px;
    text-align: left;
    background: $alert;
    color: white;
    border-bottom: 2px solid $light-grey;
    border-top: 2px solid $light-grey;
    font-weight: bold;
    border-radius: 4px;
  }
  .toggle {
    float: right;
    line-height: 20px;
    cursor: pointer;
  }
}