@import '../imports.scss';

.info-widget-component {
  width: 150px;
  position: relative;
  display: inline-block;
  padding: 20px;
  text-align: center;
  border: 2px solid $light-grey;
  &.disabled {
    .value {
      opacity: 0.5;
    }
  }
  .title {
    
  }
  .value {
    position: relative;
    font-family: $font-family-bold;
    font-size: 36px;
    &.editing {
      color: $mid-grey;
      input {
        border-bottom: 1px solid $mid-grey;
        display: inline-block;
        text-align: left;
        // border: 0;
        &:focus, &:active {
          outline: 0;
        }
      }
    }
  }
}