@import '../imports.scss';

.info-widget-component {
  cursor: pointer;
  position: relative;
  display: block;
  padding: 20px;
  text-align: center;
  border: 2px solid $light-grey;
  &.disabled {
    .value {
      opacity: 0.5;
    }
  }
  .title {
    
  }
  .value {
    position: relative;
    font-family: $font-family-bold;
    font-size: 36px;
    &.editing {
      color: $mid-grey;
      input {
        width: 60px;
        text-align: left;
        border: 0;
        &:focus, &:active {
          outline: 0;
        }
      }
    }
  }
  // &:focus {
  //   border: 2px solid $alert;
  //   color: $alert;
  //   .value {
  //     // border-bottom: 2px solid $light-grey;
  //   }
  // }
}