@import '../imports.scss';

.workout-form-component {
  .workout-title-bar {
    float: left;
    width: 100%;
    background: $warning;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-bottom: 2px solid $light-grey;
    border-top: 2px solid $light-grey;
    font-weight: bold;
    border-radius: 4px;
    .left {
      float: left;
    }
    .right {
      float: right;
    }
    .user-weight {
      font-weight: bold;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .lift-widget-title {
    margin: 20px 0;
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 2px solid $grey;
    border-top: 2px solid $grey;
    padding: 10px;
    color: black;
    font-size: 14px;
  }
}